<app-detailsheader></app-detailsheader>

<div class="clearfix"></div> 
  <div class="page_title"> 
    <div class="container"> 
      <div class="title"><h1>Career</h1> 
      </div> 
      <div class="pagenation">&nbsp;<a [routerLink]="['/home']">Home</a> <i>/</i> Career </div> 
    </div> 
</div><!-- end page title --> 

<div class="container"> 
  
	<!--- Register Form Start -->
	<div class="content_fullwidth">

        <div class="row" *ngIf="showMsg" style="height: 300px;">
            <div class="col-xs-12">
                <p class="alert alert-success">
                    Hello Job Seeker,
                    Thank You for applying with us.Our HR Team will review your profile and get back to you.
                    Please feel free to reach us at jobseeker@neotural.com                    
    
                </p>
            </div>
        </div>

        <div *ngIf="div2">
        <form name="careerForm" (ngSubmit)="careerForm.form.valid && saveCareer()"
            #careerForm="ngForm" novalidate>
            <h1>Job Seeker Application Form</h1>
            
         

            <div class="row" *ngIf="showerrorMsg">
                <div class="col-xs-12">
                    <p class="alert alert-error">
                        Network Issue.
                    </p>
                </div>
            </div>

            <div>
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter Name" name="name" [(ngModel)]="this.model.name" 
                    #name="ngModel" autocomplete="off" required>
                <div *ngIf="name.errors && (name.dirty || name.touched) ||
                    (careerForm.submitted && !name.valid )">
                    <span [hidden]="!name.errors.required" class="spanerror">
                        Required field cannot be left blank
                    </span>
                </div>
            </div>

            <div class="form-control">
                <label for="phonenumber"><b>Phone Number</b></label>
                <input type="text" placeholder="Enter Phone Number" name="phonenumber" id="phonenumber" [(ngModel)]="this.model.phonenumber" 
                    #phonenumber="ngModel" autocomplete="off" required>
                <div *ngIf="phonenumber.errors && (phonenumber.dirty || phonenumber.touched) ||
                    (careerForm.submitted && !phonenumber.valid )">
                    <span [hidden]="!phonenumber.errors.required" class="spanerror">
                        Required field cannot be left blank
                    </span>
                </div>
            </div>

            <div class="form-control">
                <label for="email_ID"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email_ID" id="email_ID" [(ngModel)]="this.model.email_ID" 
                    #email_ID="ngModel" autocomplete="off" required>
                <div *ngIf="email_ID.errors && (email_ID.dirty || email_ID.touched) ||
                    (careerForm.submitted && !email_ID.valid )">
                    <span [hidden]="!email_ID.errors.required" class="spanerror">
                        Required field cannot be left blank
                    </span>
                </div>
            </div>

            <div class="form-control">
                <label for="qualification"><b>Qualification</b></label>
                <input type="text" placeholder="Enter Qualification" name="qualification" [(ngModel)]="this.model.qualification" 
                    #qualification="ngModel" autocomplete="off" required>
                <div *ngIf="qualification.errors && (qualification.dirty || qualification.touched) ||
                    (careerForm.submitted && !qualification.valid )">
                    <span [hidden]="!qualification.errors.required" class="spanerror">
                        Required field cannot be left blank
                    </span>
                </div>
            </div>

            <div class="form-control">
                <label for="country"><b>Country</b></label>
                <select name="country" id="country"  [(ngModel)]="this.model.country" 
                    #country="ngModel" autocomplete="off">
                    <option value="">Select Country</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Others">Others</option>
                </select> 
            </div>

            <div class="form-control">
                <label for="position"><b>Looking for Position</b></label>
                <select name="position" id="position"  [(ngModel)]="this.model.position" 
                    #position="ngModel" autocomplete="off">
                    <option value="">Select Position</option>
                    <option value="Developer">Developer</option>
                    <option value="Sales Marketing">Sales Marketing</option>
                </select> 
            </div>

            <div class="form-control">
                <label for="primaryskill"><b>Primary Skills</b></label>
                <input type="text" placeholder="Enter Skills" name="primaryskill" [(ngModel)]="this.model.primaryskill" 
                    #primaryskill="ngModel" autocomplete="off" required>
            </div>

            <div class="form-control">
          


            <div class="form-group">
                <fieldset class="form-group">
      
                    <label>Upload CV</label>
                    {{imageError}}
                    <div class="custom-file fileInputProfileWrap">
                        <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                        <div class="img-space">
      
                            <ng-container *ngIf="isImageSaved; else elseTemplate">
                                <img [src]="cvBase64" />
                            </ng-container>
                            <ng-template #elseTemplate> 
      
                            </ng-template>
      
                        </div>
      
                    </div>
                </fieldset>
            </div>
            <!-- <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a> -->
        </div>

            

            <button type="submit" class="registerbtn">Submit</button>
        </form>
    </div>
	</div>
    <!--- Register Form End -->
    
</div>
<!-- end content area -->
<br/><br/>

<div class="clearfix mar_top4"></div>

<!-- Footer Calling -->
